body{
    background-color:fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0; 
}
.my-btn{
    max-width: 200px;
    border-radius:30px;
    color:#fff;
}
.my-btn:hover{
    color:rgb(241, 241, 241);
}
.rightDetails{
    margin-top:10% !important;
    margin:auto;
}
.top_left{
    position: absolute;
    z-index: -1;
    max-width: 200px;
    height: auto;
    top:0;
    left:-2px;  
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%; 
}
.bottom-right{
    bottom:0px;
    right:0px;
    position: absolute;
    max-height: 100px;
}
.navbar
{
    z-index: 3;
    color:#fff !important;
}
.nav-link
{
    font-size:0.9em !important;
    margin:5px;
    color:#212529;
}
.nav-item{
    font-size: 0.9em !important;
}
.myButton{
    background: #03A9F4;
border-radius: 61px;
padding-right:10px;
padding-left:10px;
margin-top:10px;
width:150px;
border-color:transparent;
}
.icon-social
{
    width:30px;
    height:30px;
    margin-right:5px;
    margin-bottom:10px;
    opacity: 0.5;
}
.icon-social:hover{
    opacity: 1;
}
.divide{
    height: 50%;
}
.portfolio-item{
    
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-top:70px;
    padding: 10px;
    margin-bottom: 30%;
        
}
.portfolio-img{
    -webkit-box-shadow: 0px 0px 157px -30px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 157px -30px rgba(0,0,0,0.75);
box-shadow: 0px 0px 157px -30px rgba(0,0,0,0.75);
display: block;
}
.see-more{
    display: block; 
    text-decoration: none; 
    color:#FFF; 
    margin-top:30px;
    float:right;
    font-size:0.75em;
    font-weight: 600;
}
.see-more:hover{
    color:#FFF;
}
@media (min-width: 992px)
{
    .item-desktop{
        margin-left:10%;
    }
    .desktop-center{
        padding-left:25%;
        margin-bottom:30px;
    }
    .nav-link:hover{
        color:#F10919 !important;
    }

    .selected{
        background-color:#F10919;
        border: 5px solid #F10919;
        border-radius: 25px;
        color:#fff !important;
        padding-left: 15px !important;
        padding-right:15px !important;
        padding-top: 2px;
        padding-bottom: 2px;
    }  
    .selected:hover{
        color:#fff !important;  
    }
    .rightDetails{
        padding-top:30% !important;
        padding-left:5%;
    
    }
    .container {
        max-width: 100%;
        height:100%;
        
    } 
    .left-col{
        max-width:30% !important;
        height: 60vh;
        padding-left: 5%;     
    }
    .right-col{
        min-width:70% !important;
        padding-left:20%;
        padding-top:10%;
        bottom:50px;
    }  
    .portfolio-item{
        
border-radius: 10px;
max-width: 500px;
height: auto;
margin-top:70px;
padding: 10px;
    
    }
    .portfolio-img{
        -webkit-box-shadow: 0px 0px 157px -30px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 157px -30px rgba(0,0,0,0.75);
box-shadow: 0px 0px 157px -30px rgba(0,0,0,0.75);
display: block; 
    }
    .see-more{
        display: block; 
        text-decoration: none; 
        color:#FFF; 
        margin-top:30px;
        float:right;
        font-size:0.75em;
        font-weight: 600;
    }
    .see-more:hover{
        color:#FFF;
    }
    .col-text{
        display: flex;justify-content: center;align-items: center; max-width:30%;margin-left:5%;
    }
    .img-pages{
        max-width:700px;float:right;
    }
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
} 
.header{
    padding-top:5%;
    padding-bottom:3%;
    color:#fff;
}
.seeproject{
    display: block;
    margin-top: 10px;
    color: #fff;
}
.seeproject:hover{
    color: #fff;
}